@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap');

hr{
  width: 50%;
  border: 1px solid black;
}

.blog-goBack {
  text-decoration: none;
  margin-top: 5rem;
  margin-left: -5rem;
  font-size: 1rem;
  color: #a9a9a9;
  font-weight: 500;
  margin-bottom: 2rem;
  display: block;
}

.blog-wrap {
  padding: 2rem;
  margin: 2rem auto;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  border: 8px ridge gray; 
}

.blog-wrap header {
  text-align: center;
  padding-left: 6.5rem;
  padding-right: 6.5rem;
}

.blogTitle{
  font-family: var(--font-alt);
  color: var(--color-green);
  font-size: 30px;
  font-weight: bold;
  font-family: 'Mukta', sans-serif;
  margin-bottom: 5px;
}

.blog-wrap header p {
  
  margin: 1.6rem;
  line-height: 5px;
  font-size: 1rem;
}


.blog-date {
  font-size: 0.8rem;
  color: #a9a9a9;
  font-weight: 500;
}

.blog-wrap img {
  margin-left: 5rem;
  margin-right: 5rem;
  max-width: 100%;
  max-height: 400px;
  width: 100%;
  margin-top: 3rem;
  border-radius: 20px;
  object-fit: cover;
}

.desc{
  display: flex;
  align-items: center;
  flex-direction: column;
 
}

.blog-subCategory {
  display: flex;
  justify-content: center;
}
.blog-subCategory > div {
  margin: 1rem;
}
.blog-desc {
  line-height: 2 rem;
  font-size: 24px;
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 100%;
  margin-top: 1.5rem;
  text-justify: inter-word;
  text-align: justify;
}
