.blog-wrap {
  
  margin: 5rem auto;
  margin-bottom: 10rem;
}

.blog-goBack {
  text-decoration: none;
  margin-top: 5rem;
  margin-left: 2rem;
  font-size: 1rem;
  color: #a9a9a9;
  font-weight: 500;
  margin-bottom: 2rem;
  display: block;
}
.blog-wrap header {
  text-align: center;
  
}
blog-wrap header h1 {
  color: var(--color-green);
}

.blog-date {
  font-size: 0.8rem;
  color: #a9a9a9;
  font-weight: 500;
}

.blog-wrap img {
  margin-left: 13rem;
  margin-right: 14rem;
  max-width: 900px;
  max-height: 400px;
  width: 100%;
  margin-top: 3rem;
  border-radius: 10px;
  object-fit: cover;
}

.blog-subCategory {
  display: flex;
  justify-content: center;
}
.blog-subCategory > div {
  margin: 1rem;
}
.blog-desc {
  margin-left: 8rem;
  max-width: 1100px;
  padding: 1rem;
  margin-top: 1.5rem;
}
