.blogList-wrap {
  /* display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5rem; */
  margin-left: 7rem;
  margin-right: 7rem;
  
  margin-top: 10rem;
  margin-bottom: 10rem;
  
}

@media (max-width: 768px) {
  .blogList-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 600px) {
  .blogList-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}
