.home-header {
  text-align: center;
  background-color: #fff;
  margin-top: 5rem;
}

.home-header h2 {
  color: var(--color-golden);
  font-size: 2rem;
}

.home-header h1 {
  font-size: 3rem;
  color: var(--color-green);
  margin-bottom: 1rem;
}

.home-header h1 span {
  color: var(--color-white);
}

.home-header p {
  color: #a9a9a9;
  font-weight: 500;
}
