.home-header {
  text-align: center;
  /* background-image: url('./images/output-onlinegiftools.gif');  */
  /* background-repeat: no-repeat; */
  margin-top: 5rem; 
  /* background-size: 80% 400px; */
  /* background-position: center; */
  /* height: 300px; */
}

.home-header h2 {
  color: var(--color-golden);
  font-size: 2rem;
}

.home-header h1 {
  font-size: 3rem;
  color: var(--color-green);
  margin-bottom: 1rem;
}

.home-header h1 span {
  color: var(--color-white);
}

.home-header p {
  color: #a9a9a9;
  font-weight: 500;
}
