@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.parallaxContainer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {
    position: absolute;
    font-size: 5em;
    color: #fff;
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto; /* Ensure images maintain aspect ratio */
    pointer-events: none;
}

.sec {
    position: relative;
    background: #003329;
    padding: 5% 10%; /* Adjust padding as needed for smaller screens */
    color: white;
}

.sec h4 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 10px;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
    .parallaxContainer {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    .parallax #text {
        font-size: 3em; /* Adjust font size for smaller screens */
    }

    .sec {
        padding: 5% 5%; /* Adjust padding for smaller screens */
    }
}

/* Media query for phones */
@media only screen and (max-width: 480px) {
    .parallax #text {
        font-size: 2em; /* Adjust font size for phones */
    }

    .sec {
        padding: 5% 3%; /* Adjust padding for phones */
    }
}
