@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
.app-container {
  padding: 20px;
  background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ab9830f4-5062-44e9-a5c1-d9974f59f10c/d6zq3mw-3307b36a-dab9-4ac8-ba09-d01fb10dfd84.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2FiOTgzMGY0LTUwNjItNDRlOS1hNWMxLWQ5OTc0ZjU5ZjEwY1wvZDZ6cTNtdy0zMzA3YjM2YS1kYWI5LTRhYzgtYmEwOS1kMDFmYjEwZGZkODQuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.C_8CnpB-AJu6QB0Zr5JtWhpYZ4GHNfN4wIe1hoXGRGo') center/cover fixed; 
  /* Replace 'your-background-image.jpg' with your image URL */
  position: relative;
}

.heading {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  color: teal; /* Set the text color to be visible on the background */
  font-family: 'Merriweather', serif;
  font-weight: 800;
}

.create-post-box {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(248, 249, 250, 0.8); /* Background color with opacity */
  border: 1px solid #ced4da;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-post-box h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.post {
  width: 100%; /* Set the width to 100% */
  max-width: 600px; /* Set the max-width to match create-post-box */
  padding: 15px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9); /* Background color with opacity */
}

input[type="file"]::file-selector-button {
  background-color: teal;  
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  font-weight: 400;
}

/* Add more styling for post details as needed */

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .create-post-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
  }
}
